


<style type="text/css">
/* <![CDATA[ */
font-face {
	font-family: Lobster;
	src: url(http://fonts.googleapis.com/css?family=Lobster);
}
h1 {
	font-family: Lobster;
}
/* ]]> */
</style>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Fiszki</h1>
        
    <p class="lead">Projekt zespołowe przedsięwzięcie programistyczne</p>
    
</div>
